body {
    font-family: 'Quicksand', sans-serif;
    background-color: #f2f2f2; /* Fondo gris claro */
    color: #333;
    text-align: center;
    padding: 50px;
}

h1 {
    font-family: 'Josefin Sans', sans-serif;
    color: #0a9396; /* Verde azulado */
}

.container {
    max-width: 500px;
    margin: 0 auto;
    background-color: #ffffff; /* Fondo blanco para el contenedor */
    padding: 20px;
    border-radius: 15px; /* Bordes redondeados */
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1); /* Sombra suave */
    border: 3px solid #005f73; /* Azul oscuro para borde */
}

textarea {
    width: calc(100% - 20px);
    height: 120px;
    margin-bottom: 20px;
    padding: 10px;
    border: 2px solid #0a9396; /* Borde verde azulado */
    border-radius: 8px;
    resize: none;
    font-family: 'Mukta', sans-serif; /* Fuente Mukta */
    font-size: 16px;
    background-color: #e9ecef; /* Fondo gris suave */
}

canvas {
    margin-top: 20px;
}

.winner {
    margin-top: 20px;
    font-size: 28px;
    color: #005f73; /* Azul oscuro para texto del ganador */
    font-family: 'Lobster', cursive; /* Fuente Langosta */
}

button {
    padding: 12px 24px;
    background-color: #0a9396; /* Verde azulado */
    color: #fff;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-size: 18px;
    transition: background-color 0.3s ease;
    margin-top: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Sombra en botones */
}

button:hover {
    background-color: #005f73; /* Cambiar a azul oscuro al pasar el ratón */
}

/* Estilos del modal (popup) */
.modal {
    display: none; /* Oculto por defecto */
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7); /* Fondo oscuro con mayor opacidad */
    justify-content: center;
    align-items: center;
}

.modal-content {
    background-color: #ffffff;
    padding: 20px;
    border-radius: 15px;
    text-align: center;
    width: 320px;
    font-family: 'Lobster', cursive;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2); /* Sombra más intensa */
}

.modal-content h2 {
    margin-bottom: 20px;
    font-size: 28px;
    color: #005f73; /* Azul oscuro */
}

.modal-content button {
    padding: 12px 24px;
    background-color: #0a9396; /* Verde azulado */
    color: white;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Sombra en botón del modal */
}

.modal-content button:hover {
    background-color: #005f73; /* Azul oscuro */
}
